@(message: String)

@Main("students-parents") {
  <div class="page-content">
    <div class="well">
      <h4>Alumni/Friends</h4>
      <p>Welcome Castle High School Alumni and Friends!</p>

      <p>Transcript Request Form</p>
      <p>Wish List from Faculty and Staff</p>
      <p>Castle Alumni T-Shirts</p>

      <p>Please use this page to find out about upcoming class reunions. If you would like to add or update information on this page, please email the Webmaster. Thank-you!</p>
    </div>
  </div>
}