@(message: String)

@Main("students-parents") {
  <div class="page-content">
    <div class="well">
      <h4>Faculty/Staff</h4>
      Resources / School Services

      <ul>
        <li>Accreditation</li>
        <li>Chapter 19</li>
        <li>DOE Compliance Expectations - Mandatory Videos</li>
        <li>DOE Online Forms</li>
        <li>Family Educational Rights and Privacy Act (FERPA)</li>
        <li>Grade Check Dates for Co-Curricular Activities</li>
        <li>Hawaii Department of Education</li>
        <li>Hawaii State Teachers Association (HSTA)</li>
        <li>Hawaii Teacher Standards Board (HTSB)</li>
        <li>Jupiter Grades</li>
        <li>Lotus Notes via a browser (Internet Explorer or Firefox)</li>
        <li>National Education Association (NEA)</li>
        <li>Network Support Services Branch (NSSB)</li>
        <li>Professional Development (PDE3)</li>
        <li>Resource Websites:</li>
        <li>PBS Learning Media - http://www.pbslearningmedia.org/</li>
        <li>School Community Council (SCC) Meeting Documents</li>
        <li>TSEAS Online</li>
        <li>Wish List</li>
       </ul>
    </div>
  </div>
}